
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
    box-sizing: border-box;
}
input, textarea,button{
    box-shadow: none;
    outline: 0;
    border: 0;
}
a{
    text-decoration: none;
}
html{
    font-size: 16px;
}
body{
    font-family: "Open Sans";
    line-height: 1.5;
    color: lightgray;
    font-size: 1.4rem;
}
h1,h2,h3,h4,h5,h6{
    font-family: sans-serif;
}
.container{
    max-width: 1250px;
    width: 100%;
    margin: 0 auto;
}
.padding{
    padding: 5rem 0;
}
.flex{
    display: flex;
}
.justify-between{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}
.justify-end{
    justify-content: flex-end;
}
.items-start{
    align-items: flex-start;
}
.item-center{
    align-items: center;
}
.wrap{
    flex-wrap: wrap;
}
.column{
    flex-direction: column;
}
.flex-15{
    flex: 0 1 15%;
}
.flex-20{
    flex: 0 1 20%;
}
.flex-25{
    flex: 0 1 25%;
}
.flex-30{
    flex: 0 1 30%;
}
.flex-40{
    flex: 0 1 40%;
}
.flex-50{
    flex: 0 1 50%;
}
.flex-48{
    flex: 0 1 48%;
}
.flex-60{
    flex: 0 1 60%;
}
.grow{
    flex: 1 1 auto;
}
.width-full{
    width: 100%;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    display: inline-block;
    padding: 0.9rem 2rem;
    letter-spacing: 0.8px;
    cursor: pointer;
    background-color: green;
    color: white;
    font-size: 1.3rem;
    border-radius: 4px;
    font-weight: 600;
    margin-top: 2rem;
}

.btn:hover{
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
    opacity: 0.8;
    color: white;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.uppercase{
    text-transform: uppercase;
}
.font-0{
    font-size: 0;
}
.heading{
    font-size: 3rem;
    font-weight: 900;
    color: rgb(34,41,70);
}
.heading-secondary{
    font-size: 2.2rem;
    color: rgb(34,41,70);
    font-weight: 700;
    margin-bottom: 1rem;
}
.navbar{
    background-color: rgb(34,41,70);
    padding: 1rem 0;
}
.nav-item{
    margin-left: 2rem;
}
.nav-item a {
    color: white;
    font-size: 1.3rem;
    text-transform: uppercase;
}
.active{
    color: green;
}
.hero{
    background-color: gainsboro;
}
p{
    color: gray;
}
.blog .heading{
    margin-bottom: 1rem;
}
.blog h3{
    font-size: 2rem;
    margin: 1rem 0;
    margin-bottom: 2rem;
    color: black;
}
.blog p{
    font-size: 1.2rem;
}
.blog .btn{
    font-size: 1rem;
    padding: 0.75rem 2rem;
}
.blog img{
    max-height: 230px;
}
.footer{
    background-color: rgb(34,41,70);
    color: white;
    padding: 2.5rem;
}
.footer a{
    margin-left: 2rem;
    color: white;
    font-size: 2rem;
}
@media screen and (max-width:768px){
    html{
        font-size: 10px;
    }
    .flex-100{
        flex: 0 1 100%;
        margin: 2rem 0;
}
.wrap{
        flex-wrap: wrap;
    }
    .order-1{
        order: 1;;
    }
    .column{
        flex-direction: column;
    }
    .navbar{
        padding: 2rem 0;
    }
    .brand{
        margin-bottom: 2rem;
    }
    .nav-item{
        margin: 0 1.5rem;
    }
    .footer a{
        margin-left: 2rem 1.5rem 1.5rem;
        display: inline-block;
    }
}
