/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Custom Style */
html {
    font-size: 16px;
}
:root {
    --pink: #F2494D;
    --heading: #01122D;
    --para: rgb(106, 105, 112);

}
body {
    font-family: 'Nunito', sans-serif;
    line-height: 1.5;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
.container {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    padding: 0 32px;
}
a {
    text-decoration: none;
}
.padding {
    padding: 4rem 0rem;
}
.para-text {
    color: var(--para);
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}
.text-center {
    text-align: center;
}

/* Flex */
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-grow {
    flex: 1 1 20%;
}
.center {
    display:flex;
    justify-content: center;
    align-items: center;
}
.flex-15 {
    flex: 0 1 15%;
}
.flex-20 {
    flex: 0 1 20%;
}
.flex-30 {
    flex: 0 1 30%;
}
.flex-31 {
    flex: 0 1 31%;
}
.flex-40 {
    flex: 0 1 40%;
}
.flex-48 {
    flex: 0 1 48%;
}
.flex-50 {
    flex: 0 1 57%;
}
.flex-60 {
    flex: 0 1 60%;
}

/* Heading */
.heading-hero {
 font-size: 3rem;
 font-weight: 900;
 margin-bottom: 2rem;
}
.heading-section {
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 1rem;
    color: var(--heading);
    text-transform: capitalize;
   }
.heading-article {
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 1rem;
    color: var(--heading);
}   

/* Button */
.btn {
    display: inline-block;
    background-color: var(--pink);
    color: #fff;
    padding: 1rem 2.5rem;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 0.3rem;
    text-transform: capitalize;    
}
.btn:hover {
    color: var(--pink);
    background-color: rgb(245, 161, 161);
    text-shadow: 1px 1px 2px #000;
}
/* Header */
.header {
    padding: 4rem;
    
    z-index: 2;
    width: 100%;
    background-color: #23347B;
}
.header li {
    margin-left: 2rem;
}
.header a{
    color: #fff;
    letter-spacing: -0.062rem;
}
.brand {
    font-size: 2rem;
    font-weight: 700;
}
.header li {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.2rem;
}
.header li:hover {
    font-weight: 600;
    font-size: 1.5rem;
}
#toggle {
    display: none;
}
/* Hero */
.hero {
    padding: 8rem 2rem 2rem 2rem;
    background: linear-gradient(rgba(59, 69, 170,0.8),rgba(74, 76, 182, 0.8)), url("../media/banner.png") no-repeat;
    background-size: cover;
    background-position: 100% 100%;
    color: #fff;
}
.pink {
    color: var(--pink);
}
.text-hero {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
}
/* About */
.about .heading-section {
    text-transform: uppercase;
}
.about img {
    width: 100%;
}
/* Why Join */
.why-join {
    background-color: #DFECFE;
}
.why-join .heading-section {
    text-align: center;
}
.why-join article {
    position: relative;
    border: 2px dashed var(--pink);
    padding: 1.5rem 1rem 0rem 1rem;
}
.para-small {
    font-size: 1rem;
}
.number-absolute {
    font-size: 2rem;
    font-weight: 700;
    width: 2rem;
    height: 2rem;
    background-color: #DFECFE;
    position: absolute;
    top: -1.2rem;
    left: 1.5rem;
}
.mar-bot {
    margin-bottom: 3rem;
}

/* Schedule */
.schedule {
    text-align: center;
}
.schedule .heading-section {
    margin-bottom: 3rem;
}
.date {
    position: relative;
    z-index: 1;
    align-self: center;
    height: 9rem;
    border-radius: 50%;
    border:  0.2rem dashed var(--pink);
    font-size: 2rem;
    font-weight: 900;
    background-color: #fff;
}
.date-active {
    background-color: var(--pink);
    color: #fff;
}
.date:hover {
    background-color: var(--pink);
    color: #fff;
}
.schedule article {
    margin-bottom: 2rem;
}
.schedule img {
    width : 100%;
    border-radius: 0.5rem;
}
.schedule-content {
    text-align: left;
}
.line{
    position: absolute;
    display: inline-block;
    width:0;
    height: 35rem;
    border-left: 0.2rem dashed var(--pink);
    top: 20%;
    left: 9.5%;
}
.schedule .container {
    position: relative;
}
/* Info */
.info {
    background-color: #DFECFE;
}
.active-img {
    background-color: var(--pink);
    color: #fff;
}
.info-div img {
    margin-bottom: 0.5rem;
    width: 5rem;
}
.info-div {
    text-align: center;
    padding: 3rem;
    border-radius: 0.5rem;
    font-weight: 700;
    font-size: 1.5rem;
}
.info-div:hover {
    background-color: var(--pink);
    color: #fff;
}
.info .count {
    display: block;     
    font-weight: 900;
    margin-bottom: 0.75rem;
}
/* Video */
.video {
    position: relative;
}
.video img {
    width: 100%;
    border-radius: 1.5rem;
}
.play-circle {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 8rem;
    height: 8rem;
    background-color: #fff;
    border-radius: 50%;
}
.fa-play {
    font-size: 2.5rem;
    color: var(--pink); 
}
.play-circle:hover {
    background-color: var(--pink);
}
.play-circle:hover .fa-play {
    color: var(--heading);
    font-size: 2rem;
} 
/* News */
.news {
    background-color: #DFECFE;
    padding-bottom: 10rem;
}
.news img {
    width: 100%;
}
.news .flex-31 {
    align-self: flex-start;
}
.news .para-small {
    font-size: 1.1rem;
}
.news a {
    font-size: 1.5rem;
    text-decoration: underline;
    color: var(--heading);
    font-weight: 700;
}
.news a:hover {
    color: var(--pink);
}
.news .active {
    color: #F2494D;
}

/* Footer */
.footer-main {
    background-color: #23347B;
}
.footer-links {
    font-size: 1.4rem;
    font-weight: 700;
    color: #9296AA;
}
.footer-links:hover {
    color: #fff;
}
.square {
    background-color: #BCC0D2;
    color: #23347B;
    border-radius: 0.5rem;
    width: 2rem;
    height: 2rem;
    margin-right: 2rem;
}
.square:hover {
    background-color: #fff;
}
.copyright {
    background-color: #122769;
    color: #8489A3;
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    padding: 1.5rem;
}
.follow, .quick-links {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: 700;
    color:#fff;
}

.social {
    justify-content: flex-start;
}

/* Mobile View */
@media screen and (max-width:768px) {
    html {
        font-size: 10px;
    }
    .para-text {
        font-size: 1.6rem;
    }
    .news .para-small {
        font-size: 1.6rem;
    }
    .heading-article {
        font-size: 2rem;
        margin-top: 1rem;
    }
    .column {
        flex-direction: column;
    }
    .wrap-reverse {
        flex-wrap: wrap-reverse;
    }
    /* Hero */
    .hero-article {
        order: 1;
    }
    .text-hero {
        font-size: 1.8rem;
    }
    .hero img {
        margin: 2rem 0;
        width: 100%;
    }
    /* About */
    .about  {
        padding: 2rem 2rem;
    }
    /* Why Join */
    .why-join .flex-31 {
        margin-bottom: 4rem;
    }
      /* Schedule */
    .schedule-content {
        background-color: #fff;
    }
    .line {
         z-index: -1;
         height: 90%;
         top:2.5%;
         left: 50%;
    }
    .date {
        margin-bottom: 2rem;
        width: 8rem;
        height: 8rem;
    }
    .schedule .para-text {
        border-bottom: 1px solid rgb(226, 221, 221);
        padding-bottom: 1rem;
    }
      /* Info */
      .info-div {
        width: 100%;
    }
    /*  Video */
    .play-circle {
        left: 45%;
    }
    /* News */
    .news .flex-31 {
        margin-bottom: 5rem;
    }
    .news {
        padding-bottom: 0;
    }
    /* Footer */
    .quick-links, .follow {
        text-align: center;
        margin-bottom: 0.1rem;
    }
    .follow {
        margin-top: 1rem;
    }
    .social {
     margin-left: 2rem;
    }

    /* Navigation Menu */
    .header .nav-flex {
        display: inline-block;
        display: none;
        position: fixed;
        left:0;
        right:0;
        top:0;
        bottom: 0;
        width: 100%;
        height: 100vh;  
        background-color:  rgba(35, 52, 123, 0.9);
        z-index: 3;
    }
    .nav-flex {
        text-align: center;
        padding-top: 20%;
    }
    .nav-flex li {
        padding-bottom: 4rem;
    }
    #toggle:checked ~.nav-flex {
        display: inline-block;
    }
    .bars {
        font-size: 2rem;
        color: #fff;
    }
    .bars {
        position: fixed;
        right: 3rem;
        top: 3rem;       
        z-index: 5;
    }
    .brand {
        position: fixed;
        z-index:5;
        left: 3rem;
        top: 3rem;
    }
}